header{/*container*/
    background-color: #1F2937;
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}
.headerLogoContainer{/*item1*/
    display:flex;
    justify-content: space-between;
    padding-bottom: 8%;
}
.headerLogo{
    display: flex;
    justify-content: flex-start;
    color:#f9faf8;
    font-size: 24px;
    font-weight: bolder;
}
.headerLinksContainer{
    display:flex;
}
.headerLink{
    color:#e5e7eb;
    font-size:18px;
    justify-content: space-between;
    margin: 8px;
}
.headerBodyContainer{/*item container 2*/
    display:flex;
    color: #f9faf8;
}
.headerBody{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.headerBodyText{
    font-size: 24px;
    font-weight: bolder;
}
.headerBodySubtext{
    display: flex;
    font-size: 16px;
}
.signupLink{
    background-color: #3882f6;
    border-radius: 25px;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerImage{
    background-color: #808080;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    display: flex;
    justify-content: center;
}
.bodyImageContainer{
    display: flex;
    justify-content: center;
}
.bodyImage2, .bodyImage3, .bodyImage4{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: max-content;
}
.bodyImage1{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
    width: max-content;
}
.bodyImage1Border, .bodyImage2Border, .bodyImage3Border, .bodyImage4Border{
    border-radius: 8px;
    height: 125px;
    width: 125px;
    border: solid;
    border-color: #2683ee #092870;
}
.bodyImage1Text, .bodyImage2Text, .bodyImage3Text, .bodyImage4Text{/*Set width to whatever width the bodyImage#border is*/
    width: 125px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.aside{
    background-color: #e5e7eb;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
.asideMain{
    color: #1F2937;
    margin-top: 100px;
    margin-left:  200px;
    margin-right: 200px;
    text-align: left;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-items: center;
}
.asideSub{
    text-align: right;
    margin-right: 200px;
    margin-bottom: 30px;
}
.closingLink{
    background-color: #3882f6;
    width:900px;
    height: 90px;
    margin: auto;
    margin-top:    60px;
    margin-bottom: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.closingLinkMain{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.mainText{
    color: #f9faf8;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
}
.subText{
    color: #f9faf8;
    font-size: small;
    margin-left: 80px;
    display: flex;
}
.closingButton{
    color: #f9faf8; 
    border-width: 2px;
    border-color: #f9faf8;
    display: flex;
    border: 2px solid #f9faf8;
    border-radius: 3px;
    height: 20px;
    width: 100px;
    margin: auto;
    margin-left: 220px;
    justify-content: center;
    align-content: center;
}
.footer{
    background-color: #1F2937;
    color: #e5e7eb;
    padding: auto;
    font-size: x-small;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}