header{/*container*/
    background-color: #1F2937;
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}
.headerLogoContainer{/*item1*/
    display:flex;
    justify-content: space-between;
    padding-bottom: 8%;
}
.headerLogo{
    display: flex;
    justify-content: flex-start;
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.headerLinksContainer{
    display:flex;
}
.headerLink{
    color:#e5e7eb;
    font-size:18px;
    justify-content: space-between;
    margin: 8px;
}
.headerBody{/*item2*/
    display:flex;
    background-color: aquamarine;
    justify-content: center;
}
.headerText{
    display: flex;
    justify-content: flex-start;
}
/*headerImage
/*body */
/*bodyImage */
aside{
    background-color: #e5e7eb;
}
/*closingLink */
/*footer */